/*--navegacion--*/
#navegacion{
    background-color: #373A3C;
    width: 100%;
    height: 60pt;
    margin: 0 0 20px 0;
    font-family: 'Lobster Two', cursive; 
    font-size: 37pt;
    color: #ffffff;
}

#navegacion > p{
    font-family: 'Lobster Two', cursive; 
    color: #FFFFFF;
}

#button.navbar-toggler{
    border: 1px solid #FFFFFF7F !important;
}

.navbar-toggler-icon{
    color: #000000!important; 
    border-color:#FFFFFF7F;
}

#menunav{
    margin-left: 70%;
}

#menunav >li >a{color: #ffffff; font-family: 'Cabin', sans-serif; font-size: 16pt;}
#menunav >li >a:hover{text-decoration:underline;}



/*--carrusel-*/
.carousel-indicators li{
    top: 60px!important;
    width: 13.1pt!important;
    height: 12.68pt !important;
    border-radius: 50% !important;
    background-color:#373A3C!important;
}
.carousel-indicators .active {
    background-color:#373A3C31 !important;
}

/*--cards
.recetas-relacionadas{ 
    display: none;
}--*/

.mystyle{ 
    display: none;
}

/*--suscribete--*/
#suscribete{
      background-color: #DC3545;
      width: 100%;
      height: 300pt;
      color: #F8F9FA;
    }

.newsletterSection .container>h3 {
        font-size: 30px;
        font-family: 'Cabin', sans-serif;
    }
    
span{
        font-family: 'Lobster', cursive;
    }
    
.btn-danger {
        border-color: var(--light);
        padding: 5px 70px;
    }

/*--footer--*/
  #footer{ 
    background-color: #373A3C;   
    font-family: 'Lobster Two', cursive; 
    font-size: 37pt;
    color:#FFFFFF;
    text-align: center;
    width: 100%;
    height:90pt;
  }
